<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","bottom":"0px"},"margin":{"top":"0px","bottom":"0px"}}},"className":"!mt-0","layout":{"type":"flex","orientation":"vertical","justifyContent":"center","flexWrap":"nowrap"}} -->
<div
  class="wp-block-group !mt-0"
  style="
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  "
>
  <!-- wp:paragraph {"className":"!mt-0","fontSize":"gigantic"} -->
  <p class="!mt-0 has-gigantic-font-size">404</p>
  <!-- /wp:paragraph -->

  <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|u-gray-700"}}}},"textColor":"u-gray-700"} -->
  <p class="has-u-gray-700-color has-text-color has-link-color">
    <strong>We can't seem to find the page you are looking for.</strong>
  </p>
  <!-- /wp:paragraph -->

  <!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
  <div class="wp-block-group">
    <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|u-gray-600"}}}},"textColor":"u-gray-600"} -->
    <p class="has-u-gray-600-color has-text-color has-link-color">
      Head back whence you came.
    </p>
    <!-- /wp:paragraph -->

    <!-- wp:separator {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}},"layout":{"selfStretch":"fill","flexSize":null}},"backgroundColor":"u-gray-700","className":"is-style-wide"} -->
    <hr
      class="wp-block-separator has-text-color has-u-gray-700-color has-alpha-channel-opacity has-u-gray-700-background-color has-background is-style-wide"
      style="margin-top: 0; margin-bottom: 0"
    />
    <!-- /wp:separator -->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->
